body{
    background-color: rgb(224, 229, 190);
}
p{
    color: rgb(15, 73, 3);
    padding: 10px;
    margin: 9px;
    background-color: cornsilk;
}
.para{
    color: rgb(61, 9, 110);
    padding: 5px;
    margin: 4px;
    background-color: cornsilk;
}
.para_1{
    color: rgb(1, 77, 24);
    padding: 20px;
    margin: 12px;
    background-color: rgb(174, 212, 152);
    border: 5px rgb(4, 75, 4) double;
}